@viz:registry=https://packagecloud.io/modeanalytics/npm/npm/
//packagecloud.io/modeanalytics/npm/npm/:_authToken=437870785af46bbf06b3c2f5b82b4c2be6fcf28c704d4ff4
registry=https://registry.npmjs.org/
strict-ssl=false 